*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER START */

.navbar{
display: flex;
align-items: center;
padding: 20px;
}    
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:black;
}
p{
    color: black;
    margin: 0px;
    background-color: #222;
}

.navcont{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


/* HEADER END */

/* TOP SELLER START */


.container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.swiper{
    width: 80%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
    box-shadow: 0 2px 5px;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #f9f9f9;
}
.swiper .swiper-pagination-bullet-active{
    background: #fff;
}
/* TOP SELLER END */

    /* JUST UPDATED START */
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .col-2{
        flex-basis: 50%;
        min-width: 300px
    }
    .col-2 img{
        max-width: 100%;
        padding: 50px 0;
    }
    .col-2 h1{ 
        font-size: 50px;
        line-height: 60px;
        margin: 25 0px;
        background-color: #222;
    }

    .btn{
        display: inline-block;
        background: #ff523b;
        color: #fff;
        margin: 30px 0;
        padding: 8px 30px;
        justify-items: flex-end;
       
    }
    /* JUST UPDATED END */

    



.mSelectContainer{
    display: flex;
    justify-content: center;

    background-color: #f9f9f9;
    height: 100vh;
}
.horizontal-scroll{
    width: 600px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.storys-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
}

.story-circle{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-circle img{
    display: flex;
    justify-content: space-between;
    height:  10dvh;
    border-radius: 20%;
    margin-left: 10px;
}